<div class = "container" style = "text-align: center;">

  <% if @tasks.empty? %>

    <span class = "text-warning">
      There are no tasks!
    </span>

  <% else %>

    <table class = "table table-hover table-bordered">

      <thead>
       <tr>
         <th> Note </th>
         <th> Created at </th>
         <th> Completed </th>
         <th> Action </th>
       </tr>
     </thead>

      <tbody>
        <% tasks.each do |task| %>
          <tr>
            <td> <%= task.note %> </td>
            <td class = "text-info"> <%= task.created_at  %> </td>
            <td class = "text-success"> <%= task.completed %></td>
            <td> <%= link_to task_path(task), remote: true, data: { confirm: "Are you sure?" }, method: :delete do %>
                 <i class = "icon-remove"> </i>
                 <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>
    
 <% end %>   
</div>