<style> 
  .btn-primary {display: none;}
</style>
<div class="self-info">
  <div>Your e-mail: <%= current_user.email %> </div>
  <div>You have <span id="task_count"> <%= pluralize(@tasks.count, 'task') %> </span> </div>
</div>
