// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  .self-info {
    margin-right: 159px;
    margin-left: 161px;
    background-color: #eeeeee;
    padding: 60px;
    border-radius: 6px;
  }
