<!DOCTYPE html>
<html>
  <head>
    <title> To Do</title>
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row-fluid">
      <div class="span10 offset1">
        <div class="hero-unit">
          <div class="center" style="text-align: center;">
            <h1>To Do<h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
    	<div class="span4 offset4">
    		<%= yield %>
    	</div>
    </div>
  </body>
</html>